@import './custom-properties.css';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-background-body);
  color: var(--color-text-body);
  margin: 0;
}

/* Invert images when the colors are inverted so that they look like they should */
@media (inverted-colors) {
  img {
    filter: invert(1) !important;
  }
}

html,
body,
body > div,
body > div > div {
  min-height: 100%;
}
