@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
  font-size: 250%;
}

.mainImage {
  display: block;
  position: relative;
  background: var(--color-background-body-variant);
  padding-bottom: calc(9 / 16 * 70%);

  @nest & img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}

.grid {
  @media (--media-min-medium) {
    max-width: 75%;
  }
}

.mainContent {
  @nest & p {
    font-size: 18px;
  }

  @nest & blockquote {
    border-left: 0.5rem solid var(--color-accent);
    color: var(--color-gray);
    margin: 2rem 0;
    padding: 0 2rem;
    font-size: 24px;
  }

  @nest & a {
    color: var(--color-accent);

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }

  @nest & h2, & h3, & h4, & h5, & h6 {
    font-weight: 600;
  }

  @nest & figure {
    margin: 0;
    padding: 0;

    @nest & img {
      max-width: 100%;
    }
  }
}
